/* my css */
.nav-container li a {
	text-transform: uppercase;
	padding:38px 0px 35px 0px;
  font-size: 14px;
}

.site-header.fixeddiv .headerinnerwrap .home-link span p{
  margin-top:7px !important;
}

.navbar{
  padding: inherit !important;
}

.ubarinnerwrap{
  padding: 0% 15px !important;
}

.site-header .home-link{
  padding: 0 0px 0px 15px !important;
}

.titlebar{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

ul.nav-container, .nav-container > ul{
  padding: 0 10px 0 0;
}

h3{
    font-size: 22px;
    margin: 22px 0;
    clear: both;
    line-height: 1.3;
    font-weight: 700;
}

.icon-ar.icon-ar-xl-lg {
    width: 80px !important;
    height: 80px !important;
    font-size: 36px !important;
    line-height: 2.2 !important;
    background-color: #8b0d19;
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

.section-title{
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-top: 39px;
    margin-bottom: 30px;
}
.section-title2{
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #000;
}

#nav_menu-2{
  width: 50% !important;
}
#custom_html-4{
  width: 50% !important;
}

.site-footer .site-info{
  padding-left: 0px;
}

.tx-slider.darkoverlay .tx-slider-box .tx-slide-content{
  background-color: rgba(0,0,0,0.55) !important;
}

/*Why Work With Us Page*/
@media(min-width: 0px){
  .txt-info p{
    font-size: 0.85rem;
  }
}
@media(min-width: 470px){
  .txt-info p{
    font-size: 1rem;
  }
}
@media(min-width: 992px){
  .txt-info p{
    font-size: 0.85rem;
  }
}
@media(min-width: 1070px){
  .nav-container li{
    padding: 0px 16px;
  }
  .nav-container li{
    padding: 0px 12px;
  }
  .nav-container li a, .fixeddiv .nav-container > ul > li > a{
    font-size: 12px;
  }
}
@media(min-width: 1200px){
  .txt-info p{
    font-size: 0.95rem;
  }
  .nav-container li{
    padding: 0px 16px;
  }
  .nav-container li a, .fixeddiv .nav-container > ul > li > a{
    font-size: 13px;
  }
}

.txt-info{
  display: none;
  position: relative;
  width:100%;
  text-align: center;
}

.txt-info p{
  color: #fff;
  opacity: 1;
}
.visual-block{
    margin: 0 0 20px;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 0 42px #c6c6d1;
    cursor: default;
}

.visual-block a {
    min-height: 352px;
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    transition: all .25s;
}

.visual-txt{
    background-color: rgba(138, 13, 26, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.visual-txt h4{
  margin-bottom: 0px;
}

.visual-block a .txt-container {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    opacity: .5;
    border: 2.5px solid #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
}

.visual-block a .visual-txt {
    position: relative;
    width: 100%;
}

.visual-block a .visual-txt h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff !important;
}

.visual-block a:hover .txt-container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  opacity: .7;
  cursor: default;
  border: 2.5px solid #fff;
  border-radius: 3px;
  background: rgba(138, 13, 26, 1);
}

#block1 {
  background-image: url(../img/clinic.jpg);
}

#block2 {
  background-image: url(../img/projects.jpg);
}

#block3 {
  background-image: url(../img/experience.jpg);
}

#block4 {
  background-image: url(../img/dedication.jpg);
}

#block5 {
  background-image: url(../img/security.jpg);
}

#block6 {
  background-image: url(../img/flex.jpg);
}

/* Testimonial Carousel */
#carousel {
position: relative;
width:100%;
margin-top:70px;
}

#slides-container{
  position: relative;
  width:60%;
  margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
.btn-bar{
    position: absolute;
    width: 100%;
}

#buttons {
  padding:0 0 5px 0;
  float:right;
  width:100%;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
color:#b14943;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

a#prev{
  float:left;
  top: 50%;
  transform: translateY(50%);
}

a#next{
  float:right;
  top: 50%;
  transform: translateY(50%);
}

a#prev:hover, a#next:hover {
color:#933d39;

}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
color:#575757;
font-style:italic;
}

.quote-marks {
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
color:#000;
font-weight:550;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}

.footer-text{
  color: #e9e9e9 !important;
}

@media(min-width: 0px){
  .quote-phrase{
    font-size:11px;
  }
  .quote-author{
    font-size:8px;
  }
  .quote-marks{
    font-size:15px;
  }
  .section-title{
    font-size: 1.5rem;
  }
  .main-txt{
    font-size: 1.1em;
  }
  .footer-text, .footer-nav a{
      font-size: 0.8rem !important;
  }
  .section-title2{
    font-size:1.35em;
  }
  .content-area, .featured-area{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .welcome-text, .wwd-text, .wwa-text{
    font-size: 0.75em
  }
  .socialicons{
    display: none;
  }
}
@media(min-width: 500px){
  .content-area, .featured-area{
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  .wwa-text{
    font-size: 0.9em;
  }
  .welcome-text, .wwd-text{
    font-size: 1em
  }
  .quote-phrase{
    font-size:13px;
  }
  .quote-author{
    font-size:9px;
  }
  .quote-marks{
    font-size:19px;
  }
  .section-title{
    font-size: 2rem;
  }
  .main-txt{
    font-size: 1.3em;
  }
  .footer-text, .footer-nav a{
      font-size: 1rem !important;
  }
  .section-title2{
    font-size:1.35em;
  }
}
@media(min-width: 607px){
  .section-title2{
    font-size:1.73em;
  }
}
@media(min-width: 750px){
  .quote-phrase{
    font-size:17px;
  }
  .quote-author{
    font-size:13px;
  }
  .quote-marks{
    font-size:23px;
  }
}
@media(min-width: 900px){
  .quote-phrase{
    font-size:20px;
  }
  .quote-author{
    font-size:16px;
  }
  .quote-marks{
    font-size:26px;
  }
}

@media(min-width: 1200px){
  .quote-phrase{
    font-size:24px;
  }
  .quote-author{
    font-size:20px;
  }
  .quote-marks{
    font-size:30px;
  }
}






/* preset css */
img.wp-smiley,img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.contact{
	margin-bottom: 15px;
}

input{
	width: 100%;
}

textarea.contact {
	width: 100%;
	height: 200px;
}

#nav_menu-2, #custom_html-4{
	width: 50%;
}

img#wpstats{display:none}

body {font-family: "Open Sans", Helvetica, sans-serif; font-size: 14pxpx; line-height: 1.8; color: #575757;}h1,h2,h3,h4,h5,h6,.comment-reply-title,.widget .widget-title {font-family: Roboto, Georgia, serif !important; }.themecolor {color: #8b0d19;}.themebgcolor {background-color: #8b0d19;}.themebordercolor {border-color: #8b0d19;}.tx-slider .owl-pagination .owl-page > span { border-color: #8b0d19;  }.tx-slider .owl-pagination .owl-page.active > span { background-color: #8b0d19; }.tx-slider .owl-controls .owl-buttons .owl-next, .tx-slider .owl-controls .owl-buttons .owl-prev { background-color: #8b0d19; }a,a:visited,.blog-columns .comments-link a:hover,.utilitybar.colored-bg .socialicons ul.social li a:hover .socico {color: #8b0d19;}input:focus,textarea:focus {border: 1px solid #8b0d19;}button,input[type="submit"],input[type="button"],input[type="reset"],.nav-container .current_page_item > a > span,.nav-container .current_page_ancestor > a > span,.nav-container .current-menu-item > a span,.nav-container .current-menu-ancestor > a > span,.nav-container li a:hover span {background-color: #8b0d19;}.nav-container li:hover > a,.nav-container li a:hover {color: #8b0d19;}.nav-container .sub-menu,.nav-container .children {border-top: 2px solid #8b0d19;}.ibanner,.da-dots span.da-dots-current,.tx-cta a.cta-button,.utilitybar.colored-bg {background-color: #8b0d19;}#ft-post .entry-thumbnail:hover > .comments-link,.tx-folio-img .folio-links .folio-linkico,.tx-folio-img .folio-links .folio-zoomico {background-color: #8b0d19;}.entry-header h1.entry-title a:hover,.entry-header > .entry-meta a:hover {color: #8b0d19;}.featured-area div.entry-summary > p > a.moretag:hover, .vslider_button, .vslider_button:visited {background-color: #8b0d19;}.site-content div.entry-thumbnail .stickyonimg,.site-content div.entry-thumbnail .dateonimg,.site-content div.entry-nothumb .stickyonimg,.site-content div.entry-nothumb .dateonimg {background-color: #8b0d19;}.entry-meta a,.entry-content a,.comment-content a,.entry-content a:visited {color: #8b0d19;}.format-status .entry-content .page-links a,.format-gallery .entry-content .page-links a,.format-chat .entry-content .page-links a,.format-quote .entry-content .page-links a,.page-links a {background: #8b0d19;border: 1px solid #8b0d19;color: #ffffff;}.format-gallery .entry-content .page-links a:hover,.format-audio .entry-content .page-links a:hover,.format-status .entry-content .page-links a:hover,.format-video .entry-content .page-links a:hover,.format-chat .entry-content .page-links a:hover,.format-quote .entry-content .page-links a:hover,.page-links a:hover {color: #8b0d19;}.iheader.front,.vslider_button,.nav-container .tx-highlight:after {background-color: #8b0d19;}.navigation a,.tx-post-row .tx-folio-title a:hover,.tx-blog .tx-blog-item h3.tx-post-title a:hover {color: #8b0d19;}.paging-navigation div.navigation > ul > li a:hover,.paging-navigation div.navigation > ul > li.active > a {color: #8b0d19; border-color: #8b0d19;}.comment-author .fn,.comment-author .url,.comment-reply-link,.comment-reply-login,.comment-body .reply a,.widget a:hover {color: #8b0d19;}.widget_calendar a:hover {background-color: #8b0d19; color: #ffffff; }.widget_calendar td#next a:hover,.widget_calendar td#prev a:hover {  background-color: #8b0d19;color: #ffffff;}.site-footer div.widget-area .widget a:hover {color: #8b0d19;}.site-main div.widget-area .widget_calendar a:hover,.site-footer div.widget-area .widget_calendar a:hover { background-color: #8b0d19;color: #ffffff;}.widget a:visited { color: #373737;}.widget a:hover,.entry-header h1.entry-title a:hover,.error404 .page-title:before,.tx-service-icon span i,.tx-post-comm:after {color: #8b0d19;}.da-dots > span > span, .nx-preloader .nx-ispload, .sldprev, .ibanner .da-slider .owl-prev, .sldnext, .ibanner .da-slider .owl-next {background-color: #8b0d19;}.iheader,.format-status,.tx-service:hover .tx-service-icon span {background-color: #8b0d19;}.tx-cta {border-left: 6px solid #8b0d19;}.paging-navigation #posts-nav > span:hover, .paging-navigation #posts-nav > a:hover, .paging-navigation #posts-nav > span.current, .paging-navigation #posts-nav > a.current, .paging-navigation div.navigation > ul > li a:hover, .paging-navigation div.navigation > ul > li > span.current, .paging-navigation div.navigation > ul > li.active > a {border: 1px solid #8b0d19;color: #8b0d19;}.entry-title a { color: #141412;}.tx-service-icon span { border: 2px solid #8b0d19;}.utilitybar.colored-bg { border-bottom-color: #8b0d19;}.ibanner .da-slider .owl-controls .owl-page span { border-color:#8b0d19; }.ibanner .da-slider .owl-controls .owl-page.active span, .ibanner .da-slider .owl-controls.clickable .owl-page:hover span {  background-color: #8b0d19; }.site-footer .widget-area .widget input[type="submit"],.site .tx-slider .tx-slide-button a,.ibanner .da-slider .owl-item.active .da-link  { background-color: #8b0d19; color: #FFF; }.site-footer .widget-area .widget input[type="submit"]:hover,.site .tx-slider .tx-slide-button a:hover  { background-color: #373737; color: #FFF; }.colored-drop .nav-container ul ul a, .colored-drop ul.nav-container ul a, .colored-drop ul.nav-container ul, .colored-drop .nav-container ul ul {background-color: #8b0d19;}

/* apply appearance settings */
.menu-toggle {
  display: none!important;
}
@media (max-width: 1069px) {
  .menu-toggle,
  #navbar  {
    display: none!important;
  }       
}
#wprmenu_bar {
  background: #2d2d2d;
}
#wprmenu_bar .menu_title, #wprmenu_bar .wprmenu_icon_menu {
  color: #fcfcfc;
}
#wprmenu_menu {
  background: #2d2d2d!important;
}
#wprmenu_menu.wprmenu_levels ul li {
  border-bottom:1px solid #131212;
  border-top:1px solid #0D0D0D;
}
#wprmenu_menu ul li a {
  color: #cfcfcf;
}
#wprmenu_menu ul li a:hover {
  color: #606060;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
  border-left:1px solid #0D0D0D;
}
#wprmenu_menu .wprmenu_icon_par {
  color: #cfcfcf;
}
#wprmenu_menu .wprmenu_icon_par:hover {
  color: #606060;
}
#wprmenu_menu.wprmenu_levels ul li ul {
  border-top:1px solid #131212;
}
#wprmenu_bar .wprmenu_icon span {
  background: #ffffff;
}

#wprmenu_menu.left {
  width:60%;
  left: -60%;
  right: auto;
}
#wprmenu_menu.right {
  width:60%;
  right: -60%;
  left: auto;
}
@media only screen and (max-width: 1070px) {
  html { padding-top: 42px!important; }
  #wprmenu_bar { display: block!important; }
  div#wpadminbar { position: fixed; }
}


.job-type.term-, .job-type. { background-color: #fff; } 
.job-type.term-, .job-type. { background-color: #fff; } 
body.custom-background { background-color: #f3f1ed; }


.footer-bg {
  display: block;
  background-color: #4f4f4f;}
  .site-footer .sidebar-container {
    background-color: #4f4f4f;
    padding: 20px 0;
  }

  .tx-slider .owl-controls .owl-buttons .owl-next, .tx-slider .owl-controls .owl-buttons .owl-prev {
    left: auto;
    right: 0;
  }
  .tx-slider .owl-controls .owl-buttons .owl-prev {
    left: 0;
    right: auto;
  }
  .owl-buttons div:first-child span:before{
    content: '\f503';
  }
  .owl-buttons div:last-child span:before{
    content: '\f501';
  }     
  

/** deliverable **/
.clickable {
    margin-bottom: 50px;
}
.list {
    margin: 0;
    list-style: none;
    padding: 0;
}
.list__item {
    display: inline-block;
}
.list__icon_social {
    text-align: center;
    /*border-radius: 50%;*/
    background-color: #8a0d1a;
    color: #fff;
}
.icon_social {
    position: absolute;
    transform: translate(-50%, -50%);
}

.content-title{
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    margin-bottom: 0;
}

.content-subtxt{
  font-size: 0.95em;
}
.deliverable-content{
  margin-top: -3px;
}

.entry-title{
  padding-bottom: 0px !important;
}

@media(min-width: 0px){
  .icon-container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
  .deliverable-content{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 72%;
      flex: 0 0 72%;
      max-width: 72%;
  }
  .content-subtxt{
    font-size: 0.75em;
  }
  .content-title{
    font-size: 1.1em;
  }
  #market-analysis, #media-plans{
    padding-bottom:70px;
  }
  #technology-scouting{
    padding-bottom:40px;
  }
  #seminars{
    padding-bottom:40px;
  }
  .list__icon_social{
    padding: 2.25rem;
    font-size: 2.25rem;
  }
  .clickable{
    height:130px;
  }
}

@media(min-width: 410px){
  .content-subtxt{
    font-size: 0.8em;
  }
  .content-title{
    font-size: 1.1em;
  }
  #market-analysis, #media-plans{
    padding-bottom:55px;
  }
  .list__icon_social{
    padding: 2.25rem;
    font-size: 2.25rem;
  }
  .clickable{
    height:115px;
  }
  #technology-scouting{
    padding-bottom:0px;
  }
  #seminars{
    padding-bottom:0px;
  } 
}

@media(min-width: 460px){
  .icon-container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .deliverable-content{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
  }
  .content-subtxt{
    font-size: 0.8em;
  }
  .content-title{
    font-size: 1.15em;
  }
  #market-analysis, #media-plans{
    padding-bottom:40px;
  }
  .list__icon_social{
    padding: 2.25rem;
    font-size: 2.25rem;
  }
  .clickable{
    height:85px;
  }
}

@media(min-width: 550px){
  .icon-container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    max-width: 19%;
  }
  .deliverable-content{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 81%;
      flex: 0 0 81%;
      max-width: 81%;
  }
  .content-subtxt{
    font-size: 0.9em;
  }
  .content-title{
    font-size: 1.15em;
  }
  #market-analysis, #media-plans{
    padding-bottom:35px;
  }
  .list__icon_social{
    padding: 2.55rem;
    font-size: 2.55rem;
  }
}

@media(min-width: 768px){
  .socialicons{
    display: inherit;
  }
  #market-analysis, #media-plans{
    padding-bottom:20px;
  }
}

@media(min-width: 992px){
  .icon-container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10.5%;
    flex: 0 0 10.5%;
    max-width: 10.5%;
  }
  .deliverable-content{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 89.5%;
      flex: 0 0 89.5%;
      max-width: 89.5%;
  }
  .content-subtxt{
    font-size: 0.95em;
  }
  .content-title{
    font-size: 1.2em;
  }
  #market-analysis, #media-plans{
    padding-bottom:0px;
  }
}

  
/** footer **/
  
.footer-row .col-md-6 h3{
	font-family: Roboto, Georgia, serif;
	font-weight:400;
	border-bottom: 1px solid #676767;
	text-align: left;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom: 4px;
}

.footer-nav{
	text-align: left;
}

.footer-nav .menu-main-menu-container{
	border-bottom:1px solid #676767;
	padding-bottom:7px;
	padding-top:7px;
}

.footer-nav a{
	color: #c7c7c7;
	transition: .25s;
	-webkit-transition: .25s;
	
}
.footer-nav a:visited {
    //color: #373737;
}
.footer-nav a:hover{
	color: #8b0d19;
	text-decoration: none;
}

.footer-text{
	color: white;
	font-family: Roboto, Georgia, serif;
	font-size: 1rem;
    font-weight: 400;
	text-align: left;
}

#slides{
	background-color: rgba(255, 255, 255, .8);
	border-radius: 5px;
}